.div-container {
    padding: 1rem 1rem;
    margin-top: 3rem;
}

.p-label-form {
    font-size: 18px;
    color: #5C5C5C;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
}

.bottom-custom {
    width: 10rem;
    background-color: orange;
    color: white;
    border: 1px solid orange;
    border-radius: 20px;
    padding: 5px 0px;
    margin: 0rem 1rem;
}

.bottom-custom:hover {
    width: 10rem;
    background-color: #E3E3E3;
    color: #5C5C5C;
    border: 1px solid #E3E3E3;
    margin: 0rem 1rem;
}

.bottom-custom-secondary {
    width: 10rem;
    background-color: #5C5C5C;
    color: white;
    border: 1px solid #5C5C5C;
    border-radius: 20px;
    padding: 5px 0px;
    margin: 0rem 1rem;
}

.bottom-custom-secondary:hover {
    width: 10rem;
    background-color: #E3E3E3;
    color: #5C5C5C;
    border: 1px solid #E3E3E3;
    margin: 0rem 1rem;
}

.div-buttom-registra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.div-style-form {
    margin-top: 1rem;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.div-list-icons {
    display: flex;
    justify-content: space-around;
}

.div-list-element {
    margin-bottom: 6px;
}

.p-list {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-editar {
    color: #3333CC;
}

.btn-editar:hover {
    color: orange;
}

.icon-fa-edit {
    font-size: 22px;
}

.btn-salvar {
    color: #3333CC;
}

.btn-salvar:hover {
    color: #66C00B;
}

.icon-fa-save {
    font-size: 22px;
}

.btn-delete {
    color: #F44336;
}

.btn-delete:hover {
    color: orange;
}

.icon-fa-delete {
    font-size: 22px;
}

.div-paginador-container {
    padding: 0 20px;
}

.div-resumen-children {
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0px 0px 0px;
}

.div-resumen-children-machine {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-machine {
    font-size: 60px;
    color: #5C8BCC;
}

.p-element-machine-1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #5C5C5C;
    margin-bottom: 0rem;
}

.p-element-machine-2 {
    color: #5C5C5C;
    font-weight: bold;
}

.link-e-machine {
    text-align: center;
    background-color: #5C5C5C;
    border-radius: 0 0 20px 20px;
}

.a-link-redirect {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    padding: 0;
}

.a-link-redirect:hover {
    color: orange;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

.form-control-error {
    border: 1px solid red;
}

.div-cargando-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: auto;
    display: block;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(207, 226, 255, 0.7);
}

.div-gift-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.div-size-gift {
    height: 5rem;
    width: 5rem;
}

.div-modal-container {
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
}

.gif-element {
    max-width: 100%;
}

.div-row-elements {
    display: flex;
    align-items: center;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input:focus {
    outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: 45px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
    background-color: white;
    border: 1px solid #F6F8FA;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 2px ;
}

.react-autosuggest__suggestion--focused {
    background-color: #ddd;
}

@media only screen and (min-device-width: 1400px) {}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1399px) {}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {}

@media only screen and (max-device-width: 575px) {

    .div-container {
        padding: 1rem 5px;
        margin-top: 2rem;
    }

    .div-style-form {
        margin-top: 1rem;
        background-color: white;
        padding: 20px 10px;
        border-radius: 20px;
    }


}