.div-container {
    padding: 1rem 1rem;
    margin-top: 3rem;
}

.p-label-form {
    font-size: 18px;
    color: #5C5C5C;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
}

.bottom-custom {
    width: 10rem;
    background-color: orange;
    color: white;
    border: 1px solid orange;
    border-radius: 20px;
    padding: 5px 0px;
    margin: 0rem 1rem;
}

.bottom-custom:hover {
    width: 10rem;
    background-color: #E3E3E3;
    color: #5C5C5C;
    border: 1px solid #E3E3E3;
    margin: 0rem 1rem;
}

.div-buttom-registra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.div-style-form {
    margin-top: 1rem;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.div-list-icons{
    display: flex;
    justify-content: space-around;
}

.div-list-element{
    margin-bottom: 6px;
}

.p-list {
    margin-top: 0;
    margin-bottom: 0;
}

.icon-fa-edit{
    color: #3333CC;
    font-size: 22px;
}

.icon-fa-edit:hover{
    color: orange;
    font-size: 22px;
}

.icon-fa-delete{
    color: #F44336;
    font-size: 22px;
}

.icon-fa-delete:hover{
    color: orange;
    font-size: 22px;
}

.div-paginador-container{
    padding: 0 20px;
}

.div-resumen-children {
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0px 0px 0px;
}

.div-resumen-children-machine {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-machine {
    font-size: 60px;
    color: #5C8BCC;
}

.p-element-machine-1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #5C5C5C;
    margin-bottom: 0rem;
}

.p-element-machine-2 {
    color: #5C5C5C;
    font-weight: bold;
}

.link-e-machine {
    text-align: center;
    background-color: #5C5C5C;
    border-radius: 0 0 20px 20px;
}

.a-link-redirect {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    padding: 0;
}

.a-link-redirect:hover {
    color: orange;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

@media only screen and (min-device-width: 1400px) {}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1399px) {}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {   }

@media only screen and (max-device-width: 575px) {

    .div-container {
        padding: 1rem 5px;
        margin-top: 2rem;
    }

    .div-style-form {
        margin-top: 1rem;
        background-color: white;
        padding: 20px 10px;
        border-radius: 20px;
    }
    

}